<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prescriptions</title>
    <link rel="stylesheet" href="./css/style.css" />

    <!-- Font Awesome Link -->
    <script
      src="https://kit.fontawesome.com/11d40861b7.js"
      crossorigin="anonymous"
    ></script>

    <!-- My Script -->
    <script src="./../javascript/prescriptions.js"></script>
  </head>
  <body>
    <div class="container">
      <header class="preHeader">
        <nav class="navigation">
          <ul>
            <li>
              <div class="tooltip">
                <input
                  type="button"
                  value="Log-out"
                  class="logOut"
                  id="logOut"
                />
                <span class="tooltiptext">Log-Out from App.</span>
              </div>
              <div class="tooltip">
                <i class="fa-solid fa-user userDetail" id="userDetails"></i>
                <span class="tooltiptext">See User Details</span>
              </div>
            </li>
          </ul>
        </nav>
      </header>
      <div class="title">
        <h1>Active Prescriptions</h1>
        <hr class="titleLine" />
      </div>
      <div class="preSummary">
        <div class="summaryDescription">
          <table>
            <thead>
              <tr class="tUnderline">
                <th>1&rpar; Doctor Name</th>
                <th>2&rpar; Medication</th>
              </tr>
            </thead>
            <tbody class="preTbody">
              <% if(prescriptions.length > 0){%> <%
              prescriptions.forEach(prescription => {%>
              <tr>
                <td><%= prescription.DoctorName %></td>
                <td><%= prescription.MedicationName %></td>
              </tr>
              <% }); %> <% } else if(prescriptions.length === 0){%>
              <tr>
                <td colspan="3">No Active Prescriptions Found</td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <div class="moreBtn">
          <button class="preBtn">More</button>
        </div>
      </div>

      <div class="preDetail">
        <div class="hiddenContainer">
          <div class="hiddenDetailBtn">
            <input
              type="button"
              value="Close"
              name="close"
              id="closeHiddenBtn"
            />
          </div>
          <div class="hiddenDetails">
            <table>
              <% if(prescriptions.length > 0){%> <%
              prescriptions.forEach(prescription => {%>
              <tr>
                <th>Patient Name:</th>
                <td><%= prescription.PatientName %></td>
              </tr>
              <tr>
                <th>Medication:</th>
                <td><%= prescription.MedicationName %></td>
              </tr>
              <tr>
                <th>Dosage:</th>
                <td><%= prescription.Dosage %></td>
              </tr>
              <tr>
                <th>Route:</th>
                <td><%= prescription.Route %></td>
              </tr>
              <tr>
                <th>Frequency:</th>
                <td><%= prescription.Frequency %></td>
              </tr>
              <tr>
                <th>Assigned By:</th>
                <td><%= prescription.DoctorName %></td>
              </tr>
              <tr class="hiddenDeleteBtn">
                <td colspan="2">
                  <button class="deleteBtn" data-id="<%= prescription._id%>">
                    Delete Prescription
                  </button>
                </td>
              </tr>
              <% }); %> <% } else {%>
              <tr>
                <td colspan="2">Nothing to see</td>
              </tr>
              <% } %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
